@font-face {
  font-family: 'Lato Regular';
  src: url('assets/fonts/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Medium';
  src: url('assets/fonts/Lato-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Black';
  src: url('assets/fonts/Lato-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Lato Bold';
  src: url('assets/fonts/Lato-Bold.ttf') format('truetype');
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strong, sub, sup, var,
b, u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Lato Regular', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.whole {
  background-image: url('assets/dashboard_visitors.png');
  width: 100%;
}

.half {
  width: 50%;
  display: inline-block;
  float: left;
}

div#mood-div,
div#age-div,
div#averages {
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
}

div#mood-div {
  background-image: url('assets/dashboard_feeling.png');
}

div#age-div {
  background-image: url('assets/dashboard_age.png');
}

h1 {
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  text-align: center;
  font-size: 26px;
  font-family: 'Lato Black';
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  padding: 5vh 0;
}

h1#visitors-header {
  color: #004c80;
}

section.visitor-data {
  width: 90vw;
  margin: 0 auto;
}

section.visitor-data .legend {
  padding-top: 10px;
  font-size: 22px;
  color: #bbb;
}

div#averages .quarter {
  width: 20%;
  display:inline-block;
  float: left;
  text-align: center;
  font-weight: bold;
  padding-top: 5vh;
}

div.visitor-value {
  color: #98297d;
  font-family: 'Lato Medium';
  font-size: 44px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

div.visitor-value .legend {
  font-family: 'Lato Regular';
  font-size: 16px;
  color: rgba(0, 76, 128, 0.5);
  text-shadow: none;
}

div#averages .quarter:last-of-type {
  width: 30%;
}

div#average-user {
  display: inline-block;
  width: 50%;
  padding-top: 5vh;
}

span.label {
  font-size: 22px;
  font-family: 'Lato Bold';
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

#mood-div span.label {
  color: #6ecef0;
}

#age-div span.label {
  color: #d52384;
}

span.x-label {
  font-size: 22px;
  font-family: 'Lato Regular';
  color: rgba(255, 255, 255, 0.5);
}

span.x-label,
span.icon {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.5;
}

span.icon {
  width: 32px;
  height: 32px;
}

main {
  width: 75%;
  margin: 0 auto;
  height: 50%;
}

main section {
  height: 100%;
  width: 10%;
  position: relative;
  margin: 0 5%;
  display: inline-block;
  text-align: center;
}

div.bar {
  display: block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  bottom: 0;

  transition: all 0.5s ease-out;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

